    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="col-lg-4 mb-md-4 mb-lg-0">
            <!-- About Us -->
            <div class="columns">
              <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>
                <p class="shadow-black">
                {{ site.description }}
                <a href="{{ site.url }}{{ site.baseurl }}/info/">{{ site.data.language.more }}</a>
              </p>
              <!-- Social Icons -->
              <ul class="inline-list social-icons">
                {% for social_item in site.data.socialmedia %}
                  <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          
          <div class="col-lg-8 pl-60">
            <div class="row">
              <!-- Services -->
              <div class="col-lg-4 col-sm-4">
                {% for service_item in site.data.services %}
                  {% if forloop.first == true %}
                    <h5 class="shadow-black">{{ service_item.menu_name }}</h5>
                  {% endif %}
                {% endfor %}
    
                  <ul class="no-bullet shadow-black">
                  {% for service_item in site.data.services %}
                    {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                      <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
                        <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
                      </li>
                  {% endfor %}
                  </ul>
              </div><!-- /.large-4.columns -->
    
              <!-- Services -->
              <div class="col-lg-4 col-sm-4">
                {% for company_item in site.data.company %}
                  {% if forloop.first == true %}
                    <h5 class="shadow-black">{{ company_item.menu_name }}</h5>
                  {% endif %}
                {% endfor %}
    
                  <ul class="no-bullet shadow-black">
                  {% for company_item in site.data.company %}
                    {% if company_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                      <li {% if company_item.class %}class="{{ company_item.class }}" {% endif %}>
                        <a href="{{ domain }}{{ company_item.url }}" {% if company_item.url contains 'http' %}target="_blank" {% endif %} title="{{ company_item.title }}">{{ company_item.name }}</a>
                      </li>
                  {% endfor %}
                  </ul>
              </div><!-- /.large-4.columns -->
    
              <!-- Contact Us -->
              <div class="col-lg-4 col-sm-4">
                {% for network_item in site.data.network %}
                  {% if forloop.first == true %}
                  <h5 class="shadow-black">{{ network_item.menu_name }}</h5>
                  {% endif %}
                {% endfor %}

                <!-- Contact Number -->
                <div class="single-info">
                  <div class="icon">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="info">
                    <p class="shadow-black">+91 (970) 216-8576</p>
                  </div>
                </div>

                <!-- Contact Email -->
                <div class="single-info">
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="info">
                    <p class="shadow-black contact-info">
                      <a href="mailto:contact@stuffbits.in">contact@stuffbits.in</a>
                    </p>
                    <p class="shadow-black">
                      <a href="mailto:info@stuffbits.in">info@stuffbits.in</a>
                    </p>                
                  </div>
                </div>

                <!-- Address /Location -->
                <div class="single-info">
                  <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="info">
                    <p class="shadow-black footer-text">Currently our presence is online only. Soon we will have our first office.</p>
                  </div>
                </div>

                <!--
   
                <ul class="no-bullet shadow-black">
                {% for network_item in site.data.network %}
                  {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                    <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}>
                      <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url contains 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a>
                    </li>
                {% endfor %}
                </ul> -->
              </div><!-- Contact Us -->
            </div>          
          
          </div><!-- Sitemap -->
        </div><!-- /.row -->
      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter" class="columns credits">
            {{ site.credits }}
          </section>

          <!-- <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section> -->
        </nav>
      </div><!-- /#subfooter -->
    </footer>
