<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="display: none;">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
            <img src="{{ site.urlimg }}SBTL_Logo_250px.png" alt="" width="65" height="50" class="d-inline-block align-text-top">
            StuffBits
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% for item in site.data.navbar %}
                    {% if item.dropdown == nil %}
                    {% comment %}  Items WITHOUT Dropdown {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                    </li>
                    {% else %}
                    {% comment %}  Items WITH Dropdown {% endcomment %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ site.url }}{{ site.baseurl }}{{ item.url }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ item.title }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for dropdown_link in item.dropdown %}
                            <li>
                                <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}{{ dropdown_link.url }}">{{ dropdown_link.title }}</a>
                            </li>
                            {% endfor %}
                        <!-- <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
                <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
            </li> -->
            </ul>
            <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
  </nav>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="LOGO">
      Navbar
    </a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
  