/*=================================================
    Services Pages
==============================================================*/

.frontpage-widget {
    a {
        img {
            //min-height: 200px;
            max-height: 30%;
            width: 100%;
        }
    }

    p {
        min-height: 30%;
    }
}